<div class="depot_form">
  
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <%= form_for @user, url: send_password_reset_email_users_path do |form| %>
    <fieldset>
      <legend>Enter Your Credentials</legend>    

      <div class="field">
        <%= form.label :name, "Name:" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email, "Email" %>
        <%= form.text_field :email %>
      </div>

      <div class="actions">
        <%= submit_tag "Get Reset Email" %>
      </div>
    </fieldset>
  <% end %>

  <%= link_to 'Never Mind', store_index_url %>
  
</div>