<p>Hi, <%= @user.name %></p>
<p>Looks like you forgot your password.  Fill out this form to get a new one!</p>

<%= form_tag update_password_user_path(@user) do %>
  <fieldset>
    <legend>Create New Password</legend>
      <div class="field">
        <%= label_tag :password, "New Password" %>
        <%= password_field_tag :password %>
      </div>

      <div class="actions">
        <%= submit_tag "Update Password" %>
      </div>
  </fieldset>
<% end %>