<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Ship Date</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        
        <% if order.ship_date %>
          <td><%= order.ship_date %></td>
        <% else %>
          <td><%= button_to 'Ship it!', ship_order_path(id: order.id), method: :get, remote: true%></td>
        <% end %>
        
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type.pay_type %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Store Home', store_index_url, remote: true %>

<%# link_to 'New Order', new_order_path %>
