<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>


<ul id="cart_line_items">
  
  <% @line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
  
</ul>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%# link_to 'Empty Cart', empty_cart_path(@cart) %>
<%= link_to 'Store', store_index_path %>
