<p id="notice"><%= notice %></p>

<%# <h1>Your Pragmatic Catalog</h1> %>

<% cache @products do %>
<%# this caches the view partial (not separated out into a separate _products.html.erb file)
in its entirety; the content between this do...end will be re-rendered whenever any of the
products change%>
  <% @products.each do |product| %>
    <% cache product do%>
    <%# this caches the partial (analogous to _product.html.erb) for each individual product 
    as we are re-rendering the entire group of products, we will check if each product,
    displayed according to what is within this sub do...end, needs to be re-rendered
    itself, or if it can be simply grabbed from the cache%>
      <div class="entry">
        <%= image_tag product.image_url %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency product.price, unit: "R$" %></span>
          <%= button_to 'Add To Cart', line_items_path(product_id: product.id), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= button_to 'Show Cart', @cart, method: :get %>

<% if @visit_count && @visit_count > 5 %>
  <p id="visit_count">You have visited this page <%= pluralize(@visit_count, "time") %></p>
<% end %>

<%# "whenever the specified data changes, the section will be rerendered"
    i.e. whenever the data specified in the cache method call (eg. cache @products do)
    changes (i.e. whenever anything in the entire set of products changes),
    then we will rerender the html within the enclosed do...end block %>