<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
  <%# notice that all the styles in products.scss are nested under
      .products {...}; if we do our other stylesheets this way,
      none of them will have any of products.scss' styles applied??  %>
    <%= yield %>
  </body>
</html>
